---
title: participa.vilanova.cat
---

<%= partial 'partials/template_top' %>

<main class="wrapper">
  <div class="row">
    <div class="large-8 large-centered">
      <div class="static__message">
        <h1 class="heading1 page-title"><%= t("error_404.title") %></h1>
        <p><%= t("error_404.description") %></p>
        <div class="static__message__cta">
          <a href="<%= url_for "index.html" %>" class="button">
            <%= t("error_404.link") %></a>
        </div>
      </div>
  </div>
</div>
</main>

<%= partial 'partials/template_bottom' %>
