---
title: participa.vilanova.cat
activesection: home
---

<%= partial 'partials/template_top' %>

<main>
  <section class="extended hero">
    <div class="hero__container">
      <div class="row">
        <div class="columns small-centered large-10">
          <h1 class="text-highlight heading1 hero-heading">
            <%= t("home.hero_title") %>
          </h1>
        </div>
      </div>
      <div class="row">
        <div class="columns small-centered small-6 medium-4 mediumlarge-3">
          <a href="<%= url_for local_path("more-information") %>"
            class="hero-cta button expanded large button--sc">
            <%= t("home.hero_link") %>
          </a>
        </div>
      </div>
    </div>
  </section>
  <section class="extended subhero home-section">
    <div class="row">
      <div class="columns small-centered large-10">
        <h2 class="heading3"><%= t("home.welcome_title") %></h2>
        <a href="<%= url_for local_path("new-proposal") %>"
          class="button--sc link subhero-cta">
          <%= t("home.welcome_link") %>
          <%= icon "chevron-right", aria_hidden: true %>
        </a>
      </div>
    </div>
  </section>
  <section class="wrapper-home home-budgets">
    <div class="row column text-center">
      <h3 class="heading2"><%= t("home.budgets_title") %></h3>
      <h4 class="heading3"><%= t("home.budgets_subtitle") %></h4>
    </div>
    <div class="row home-budgets__content">
      <div class="column large-6 medium-12">
        <%= image_tag 'vilanova/que-proposes.png', :alt => 'Què proposes?' %>
      </div>
      <div class="column large-6 medium-12">
        <%= partial 'content/budgets' %>
        <div class="home-budgets__cta">
          <a href="<%= url_for local_path("more-information") %>"
            class="button button--sc">
            <%= t("home.budgets_cta_1") %>
          </a>
          <a href="<%= url_for local_path("new-proposal") %>"
            class="button hollow button--sc">
            <%= t("home.budgets_cta_2") %>
          </a>
        </div>
        <div class="callout secondary">
          <%= partial 'content/budgets-help' %>
        </div>
      </div>
    </div>
  </section>
  <section class="extended">
    <div class="wrapper-home home-section">
      <div class="row column text-center">
        <h3 class="heading2"><%= t("home.bullets_title") %></h3>
      </div>
      <div class="row small-up-1 medium-up-3 home-bullets">
        <div class="column">
          <div class="home-bullet">
            <div class="home-bullet__icon">
              <%= icon "meetings" %>
            </div>
            <div class="home-bullet__desc">
              <h4 class="heading6"><%= t("home.bullets_meetings_title") %></h4>
              <p><%= t("home.bullets_meetings_description") %></p>
            </div>
          </div>
        </div>
        <div class="column">
          <div class="home-bullet">
            <div class="home-bullet__icon">
              <%= icon "debates" %>
            </div>
            <div class="home-bullet__desc">
              <h4 class="heading6"><%= t("home.bullets_debates_title") %></h4>
              <p><%= t("home.bullets_debates_description") %></p>
            </div>
          </div>
        </div>
        <div class="column">
          <div class="home-bullet">
            <div class="home-bullet__icon">
              <%= icon "proposals" %>
            </div>
            <div class="home-bullet__desc">
              <h4 class="heading6"><%= t("home.bullets_proposals_title") %></h4>
              <p><%= t("home.bullets_proposals_description") %></p>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="columns small-centered small-10
                  smallmedium-8 medium-6 large-4">
          <a href="<%= url_for local_path("more-information") %>"
            class="button expanded hollow button--sc">
            <%= t("home.bullets_link") %>
          </a>
        </div>
      </div>
    </div>
  </section>
</main>

<%= partial 'partials/template_bottom' %>
