---
title: participa.vilanova.cat
activesection: home
---

<%= partial 'partials/template_top' %>

<main>
  <section class="extended hero">
    <div class="hero__container">
      <div class="row">
        <div class="columns small-centered large-10">
          <h1 class="text-highlight heading1 hero-heading">
            Construïm entre tots i totes <br>la ciutat que volem
          </h1>
        </div>
      </div>
      <div class="row">
        <div class="columns small-centered small-6 medium-4 mediumlarge-3">
          <a href="/new-proposal" class="hero-cta button expanded large button--sc">
            Participa
          </a>
        </div>
      </div>
    </div>
  </section>
  <section class="extended subhero home-section">
    <div class="row">
      <div class="columns small-centered large-10">
        <h2 class="heading3">Benvingut i benvinguda a la web de participació
          ciutadana de Vilanova i la Geltrú . A través d’aquest espai podràs
          obrir debats, opinar, fer propostes i decidir sobre el temes de
          ciutat que t’interessen.</h2>
        <a href="/new-proposal" class="button--sc link subhero-cta">
          Entra, participa i decideix!
          <%= icon "chevron-right", aria_hidden: true %>
        </a>
      </div>
    </div>
  </section>
  <section class="wrapper-home">
    <div class="row">
      [Work in progress]
    </div>
  </section>
  <section class="extended">
    <div class="wrapper-home home-section">
      <div class="row column text-center">
        <h3 class="heading2">Com podré participar en un procés?</h3>
      </div>
      <div class="row small-up-1 medium-up-3 home-bullets">
        <div class="column">
          <div class="home-bullet">
            <div class="home-bullet__icon">
              <%= icon "meetings" %>
            </div>
            <div class="home-bullet__desc">
              <h4 class="heading6">Trobades</h4>
              <p>Anem a conèixer, debatre i compartir el que pensem que és
                important per a la nostra ciutat.</p>
            </div>
          </div>
        </div>
        <div class="column">
          <div class="home-bullet">
            <div class="home-bullet__icon">
              <%= icon "debates" %>
            </div>
            <div class="home-bullet__desc">
              <h4 class="heading6">Debats</h4>
              <p>Espais per informar-te i decidir sobre les propostes de cada
                procés.</p>
            </div>
          </div>
        </div>
        <div class="column">
          <div class="home-bullet">
            <div class="home-bullet__icon">
              <%= icon "proposals" %>
            </div>
            <div class="home-bullet__desc">
              <h4 class="heading6">Propostes</h4>
              <p>Espai obert de propostes dels ciutadans sobre quin tipus de
                ciutat volem viure.</p>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="columns small-centered small-10
                  smallmedium-8 medium-6 large-4">
          <a href="/more-information" class="button expanded hollow button--sc">
            Més informació
          </a>
        </div>
      </div>
    </div>
  </section>
</main>

<%= partial 'partials/template_bottom' %>
